<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="app.zingo.employeemanagements.base">

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:extractNativeLibs="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute"
        tools:replace="android:allowBackup,android:icon">
        <activity android:name="app.zingo.employeemanagements.utils.loginclass.LoginCallbackClass"/>
        <activity
            android:name="app.zingo.employeemanagements.ui.newemployeedesign.BookingScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name="app.zingo.employeemanagements.ui.newemployeedesign.CartScreen" />
        <activity
            android:name="app.zingo.employeemanagements.ui.newemployeedesign.SubCategoryDetailScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="app.zingo.employeemanagements.ui.newemployeedesign.CategoryDetailScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name="app.zingo.employeemanagements.ui.newemployeedesign.StockOrderCategoryListScreen" />
        <activity android:name="app.zingo.employeemanagements.ui.NewAdminDesigns.ShowAllMeetings" />
        <activity android:name="app.zingo.employeemanagements.ui.NewAdminDesigns.StockOrderDetailsScreen" />
        <activity android:name="app.zingo.employeemanagements.ui.NewAdminDesigns.PriceUpdateListScreen" />
        <activity android:name="app.zingo.employeemanagements.ui.NewAdminDesigns.StockOrdersScreen" />
        <activity android:name="app.zingo.employeemanagements.ui.NewAdminDesigns.StockItemScreen" />
        <activity android:name="app.zingo.employeemanagements.ui.NewAdminDesigns.StockSubCategoryScreen" />
        <activity android:name="app.zingo.employeemanagements.ui.NewAdminDesigns.BrandScreen" />
        <activity android:name="app.zingo.employeemanagements.ui.NewAdminDesigns.StockCategoryScreen" />
        <activity android:name="app.zingo.employeemanagements.ui.NewAdminDesigns.StockOptionsListScreen" />
        <activity android:name="app.zingo.employeemanagements.ui.NewAdminDesigns.StockOptionsScreen" />
        <activity android:name="app.zingo.employeemanagements.utils.BaseActivity" />
        <activity
            android:name="app.zingo.employeemanagements.ui.landing.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="app.zingo.employeemanagements.ui.landing.PermissionRequestScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="app.zingo.employeemanagements.ui.Common.FakeActivityScreen" />
        <activity android:name="app.zingo.employeemanagements.ui.newemployeedesign.UpdateWeekOff" />
        <activity android:name="app.zingo.employeemanagements.ui.newemployeedesign.WeekOffDashBoard" />
        <activity
            android:name="app.zingo.employeemanagements.ui.newemployeedesign.ApplyWeekOff"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="app.zingo.employeemanagements.ui.newemployeedesign.WeekOffApply"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name="app.zingo.employeemanagements.ui.NewAdminDesigns.ShiftScreenList" />
        <activity android:name="app.zingo.employeemanagements.ui.NewAdminDesigns.UpdateOrderScreen" />
        <activity android:name="app.zingo.employeemanagements.ui.Admin.EmployeeOrderMapScreen" />
        <activity
            android:name="app.zingo.employeemanagements.ui.Admin.CreateOrderScreen"
            android:theme="@style/AppTheme" />
        <activity
            android:name="app.zingo.employeemanagements.ui.NewAdminDesigns.DailyOrdersForEmployeeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="app.zingo.employeemanagements.ui.Employee.OrdersListScreen" />

        <activity
            android:name="app.zingo.employeemanagements.ui.landing.PhoneVerificationScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="app.zingo.employeemanagements.ui.Company.CreateCompany"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="app.zingo.employeemanagements.ui.Company.CreateFounderScreen"
            android:configChanges="keyboardHidden|orientation|keyboard"
            android:screenOrientation="portrait" />
        <activity
            android:name="app.zingo.employeemanagements.ui.Login.LoginScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="app.zingo.employeemanagements.ui.Admin.DashBoardAdmin"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
            <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyD7wKDeCjNaLc8OjxHhYFVieOsL9lXhFZQ" />
        -->
        <activity android:name="app.zingo.employeemanagements.ui.Company.OrganizationDetailScree" />
        <activity android:name="app.zingo.employeemanagements.ui.Employee.EmployeeListScreen" />
        <activity android:name="app.zingo.employeemanagements.ui.Employee.CreateEmployeeScreen" />
        <activity android:name="app.zingo.employeemanagements.AlarmManager.AlertDialogActivity" />
        <activity
            android:name="app.zingo.employeemanagements.ui.Employee.DashBoardEmployee"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="app.zingo.employeemanagements.ui.Admin.DepartmentEmployeeListScreen" />
        <activity
            android:name="app.zingo.employeemanagements.ui.Admin.EmployeesDashBoard"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name="app.zingo.employeemanagements.ui.Common.EmployeeMeetingMap"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name="app.zingo.employeemanagements.ui.Employee.MapsActivity" />
        <activity android:name="app.zingo.employeemanagements.ui.Common.ChangePasswordScreen" />
        <activity
            android:name="app.zingo.employeemanagements.ui.Employee.EmployeeMeetingHost"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name="app.zingo.employeemanagements.ui.Common.EmployeeMeetingList"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="app.zingo.employeemanagements.ui.Employee.AttendanceScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--
<receiver android:name="app.zingo.employeemanagements.Service.GPSReciever">
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CAHNEG" />
                <action android:name="android.location.GPS_ENABLED_CHANGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        -->
        <activity
            android:name="app.zingo.employeemanagements.ui.Employee.WorkedDaysListScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="app.zingo.employeemanagements.ui.Employee.LeaveTakenDays"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="app.zingo.employeemanagements.ui.Employee.LeaveManagementHost"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="app.zingo.employeemanagements.ui.Employee.ApplyLeaveScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name="app.zingo.employeemanagements.ui.Admin.CreatePaySlip" />
        <activity android:name="app.zingo.employeemanagements.ui.Admin.LoginDetailsHost" />
        <activity android:name="app.zingo.employeemanagements.ui.Admin.EmployeeLoginList" />
        <activity android:name="app.zingo.employeemanagements.ui.Admin.EmployeeLoginMapView" />
        <activity android:name="app.zingo.employeemanagements.ui.Admin.LeaveApprovalScreen" />
        <activity android:name="app.zingo.employeemanagements.ui.Admin.EmployeeLiveMappingScreen" />
        <!--
    <service
            android:name="app.zingo.employeemanagements.Service.LocationTrackEmplService"
            android:enabled="true"
            android:exported="true" />
        -->
        <activity
            android:name="app.zingo.employeemanagements.ui.LandingScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoAction">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="kronyapp.com"
                    android:pathPattern="/checkout.php"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="kronyapp.com"
                    android:pathPattern="/checkout.php"
                    android:scheme="https" />
            </intent-filter>

            <meta-data
                android:name="default-url"
                android:value="https://kronyapp.com/checkout.php" />
        </activity>
        <activity
            android:name="app.zingo.employeemanagements.ui.ContactUsScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="app.zingo.employeemanagements.ui.SupportScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name="app.zingo.employeemanagements.ui.GetStartedScreen"
            android:configChanges="keyboardHidden|orientation|keyboard"
            android:screenOrientation="portrait" />
        <activity
            android:name="app.zingo.employeemanagements.ui.Admin.TaskManagementHost"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="app.zingo.employeemanagements.ui.Admin.CreateTaskScreen"
            android:theme="@style/AppTheme" />
        <activity
            android:name="app.zingo.employeemanagements.ui.Admin.TaskListScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="app.zingo.employeemanagements.ui.NewAdminDesigns.AdminNewMainScreen"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="app.zingo.employeemanagements.ui.NewAdminDesigns.DailyTargetsForEmployeeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="app.zingo.employeemanagements.ui.SignUpOptioins"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="app.zingo.employeemanagements.ui.EmployeeSignUp"
            android:configChanges="keyboardHidden|orientation|keyboard"
            android:screenOrientation="portrait" />
        <activity
            android:name="app.zingo.employeemanagements.ui.newemployeedesign.EmployeeNewMainScreen"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="app.zingo.employeemanagements.ui.NewAdminDesigns.EmployeeUpdateListScreen" />
        <activity android:name="app.zingo.employeemanagements.ui.NewAdminDesigns.EmployeeEditScreen" />
        <activity android:name="app.zingo.employeemanagements.ui.NewAdminDesigns.LeaveEmployeeListScreen" />
        <activity android:name="app.zingo.employeemanagements.ui.NewAdminDesigns.UpdateLeaveScreen" />
        <activity android:name="app.zingo.employeemanagements.ui.NewAdminDesigns.DepartmentLilstScreen" />
        <activity
            android:name="app.zingo.employeemanagements.ui.PlanMainHostScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="app.zingo.employeemanagements.ui.BasicPlanScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="app.zingo.employeemanagements.ui.AdvancePlanScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="app.zingo.employeemanagements.FireBase.EmailVerificationTesting" />

        <activity android:name="app.zingo.employeemanagements.ui.newemployeedesign.ExpenseManageHost" />

        <activity
            android:name="app.zingo.employeemanagements.ui.newemployeedesign.CreateExpensesScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="app.zingo.employeemanagements.ui.Common.PlanExpireScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="app.zingo.employeemanagements.ui.newemployeedesign.ExpensesListScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="app.zingo.employeemanagements.ui.newemployeedesign.ExpenseListScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name="app.zingo.employeemanagements.ui.NewAdminDesigns.EmployeeExpenseList" />
        <activity android:name="app.zingo.employeemanagements.ui.NewAdminDesigns.PendingTasks" />
        <activity
            android:name="app.zingo.employeemanagements.ui.Reseller.ResellerSignUpScree"
            android:configChanges="keyboardHidden|orientation|keyboard"
            android:screenOrientation="portrait" />
        <activity
            android:name="app.zingo.employeemanagements.ui.landing.InternalServerErrorScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="app.zingo.employeemanagements.ui.Reseller.ResellerMainActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="app.zingo.employeemanagements.ui.Reseller.ResellerDashBoard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="app.zingo.employeemanagements.ui.Reseller.ResellerOrganizationList"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="app.zingo.employeemanagements.ui.Reseller.ResellerPaymentListScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="app.zingo.employeemanagements.ui.Reseller.ResellerProfileScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="app.zingo.employeemanagements.ui.Reseller.ChangePasswordReseller" />
        <activity
            android:name="app.zingo.employeemanagements.ui.Common.DigitalSignature"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="app.zingo.employeemanagements.ui.newemployeedesign.MeetingAddWithSignScreen" />
        <activity android:name="app.zingo.employeemanagements.ui.NewAdminDesigns.LoginMapScreenAdmin" />
        <activity android:name="app.zingo.employeemanagements.ui.Common.ReportManagementScreen" />
        <activity
            android:name="app.zingo.employeemanagements.ui.Login.ForgotPhoneVerfi"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="app.zingo.employeemanagements.ui.Common.ForgotPasswordScreen" />
        <activity android:name="app.zingo.employeemanagements.ui.Common.ForgotResellPwd" />
        <activity android:name="app.zingo.employeemanagements.ui.NewAdminDesigns.TeamMembersList" />
        <activity
            android:name="app.zingo.employeemanagements.ui.Common.GeneralNotificationScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="app.zingo.employeemanagements.ui.Admin.EmployeeTaskMapScreen" />
        <activity
            android:name="app.zingo.employeemanagements.ui.NewAdminDesigns.ReportTaskListScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="app.zingo.employeemanagements.ui.NewAdminDesigns.ReportExpenseList"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="app.zingo.employeemanagements.ui.NewAdminDesigns.ReportVisitsListScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="app.zingo.employeemanagements.ui.Company.OrganizationEditScreen" />
        <activity
            android:name="app.zingo.employeemanagements.ui.newemployeedesign.MeetingDetailList"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="app.zingo.employeemanagements.ui.Company.WorkingDaysScreen" />
        <activity android:name="app.zingo.employeemanagements.ui.newemployeedesign.ViewPaySlipScreen" />
        <activity android:name="app.zingo.employeemanagements.ui.Common.InvokeService" />
        <activity android:name="app.zingo.employeemanagements.ui.Common.CustomerCreation" />
        <activity android:name="app.zingo.employeemanagements.ui.NewAdminDesigns.PlanSubscribtionScreen" />
        <activity android:name="app.zingo.employeemanagements.ui.newemployeedesign.BreakPurpose" />
        <activity android:name="app.zingo.employeemanagements.ui.NewAdminDesigns.PresentEmployeeListScreen" />
        <activity
            android:name="app.zingo.employeemanagements.ui.NewAdminDesigns.TaskAdminViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="app.zingo.employeemanagements.ui.NewAdminDesigns.UpdateTaskScreen" />
        <activity
            android:name="app.zingo.employeemanagements.ui.NewAdminDesigns.ExpensesListAdmin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="app.zingo.employeemanagements.ui.NewAdminDesigns.EmployeeDashBoardAdminView" />
        <activity android:name="app.zingo.employeemanagements.ui.NewAdminDesigns.CheckInMapScreen" />
        <activity android:name="app.zingo.employeemanagements.ui.GooglePlaceMapActivity" />
        <activity android:name="app.zingo.employeemanagements.ui.Common.NotificationShowActivity" />
        <activity android:name="app.zingo.employeemanagements.ui.Common.LocationSharingEmplActivity" />
        <activity android:name="app.zingo.employeemanagements.ui.NewAdminDesigns.LeaveDashBoardAdminScreen" />
        <activity android:name="app.zingo.employeemanagements.ui.Common.LeaveListScreen" />
        <activity android:name="app.zingo.employeemanagements.ui.NewAdminDesigns.ExpenseDashBoardAdmin" />
        <activity
            android:name="app.zingo.employeemanagements.ui.Common.ImageFullScreenActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="app.zingo.employeemanagements.ui.Common.ExpensesListAdmin" />
        <activity android:name="app.zingo.employeemanagements.ui.NewAdminDesigns.UpdateExpenseScreen" />
        <activity android:name="app.zingo.employeemanagements.ui.Common.AllEmployeeLiveLocation" />
        <activity android:name="app.zingo.employeemanagements.ui.NewAdminDesigns.MeetingMapScreen" />
        <activity
            android:name="app.zingo.employeemanagements.ui.NewAdminDesigns.QrCodePrintScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="app.zingo.employeemanagements.ui.newemployeedesign.ScannedQrScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="app.zingo.employeemanagements.ui.newemployeedesign.EmployeeQrCodeGenerate" />
        <activity android:name="app.zingo.employeemanagements.ui.NewAdminDesigns.AdminQrTabScreen" />
        <activity
            android:name="app.zingo.employeemanagements.ui.NewAdminDesigns.AdminScanEmployee"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="app.zingo.employeemanagements.ui.NewAdminDesigns.OrganizationProfileScreen" />
        <activity android:name="app.zingo.employeemanagements.ui.Common.HolidayListActivityScreen" />
        <activity android:name="app.zingo.employeemanagements.ui.Common.BranchListScreen" />
        <activity android:name="app.zingo.employeemanagements.ui.Common.CreateBranchesScreen" />
        <activity android:name="app.zingo.employeemanagements.ui.Common.BreakTimeListScreen" />
        <activity android:name="app.zingo.employeemanagements.ui.NewAdminDesigns.BranchOptionScreen" />
        <activity android:name="app.zingo.employeemanagements.ui.NewAdminDesigns.BranchInfoScreen" />
        <activity android:name="app.zingo.employeemanagements.ui.NewAdminDesigns.BranchEditScreen" />
        <activity android:name="app.zingo.employeemanagements.ui.Common.CustomerList" />
        <activity android:name="app.zingo.employeemanagements.ui.FAQScreen" />
        <activity android:name="app.zingo.employeemanagements.ui.FAQ.FAQFragment" />
        <activity
            android:name="app.zingo.employeemanagements.ui.Plan.PlanDesignActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="app.zingo.employeemanagements.ui.Plan.BasicPlanSubscription" />
        <activity android:name="app.zingo.employeemanagements.ui.Plan.AdvancePlanSubscription" />
        <activity android:name="com.airpay.airpaysdk_simplifiedotp.AirpayActivity" />
        <activity android:name="app.zingo.employeemanagements.ui.Common.ReportBulkdataScreen" />
        <activity android:name="app.zingo.employeemanagements.ui.Common.ReportBulkDataDisplayScreen" />
        <activity android:name="app.zingo.employeemanagements.ui.Common.VisitingCard" />
        <activity android:name="app.zingo.employeemanagements.ui.Common.CustomerMapViewScreen" />
        <activity android:name="app.zingo.employeemanagements.ui.NewAdminDesigns.CalenderDashBoardActivity" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCCOdiugQwNAGmBpMdloo6Iu4Rb1i5RwEs" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_tTRIgCc7PPKNq0" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="@string/file_provider_authority"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_path" />
        </provider>
        <receiver android:name="app.zingo.employeemanagements.Service.OnNotificationClickBroadcastReceiver" />
        <receiver android:name="app.zingo.employeemanagements.Service.OnGPSNotificationClick" />
        <receiver android:name="app.zingo.employeemanagements.AlarmManager.LunchBreakAlarm" />
        <receiver android:name="app.zingo.employeemanagements.AlarmManager.TeaBreakAlarm" />
        <service android:name="app.zingo.employeemanagements.AlarmManager.AlarmNotificationService" />
        <service android:name="app.zingo.employeemanagements.AlarmManager.AlarmSoundService" />
        <service android:name="app.zingo.employeemanagements.FireBase.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="app.zingo.employeemanagements.Service.LocationForegroundService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="app.zingo.employeemanagements.Service.ReportDownloadingDataService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="app.zingo.employeemanagements.Service.DetectedActivitiesIntentService"
            android:exported="false" />
        <service
            android:name="app.zingo.employeemanagements.Service.CheckInAlarmReceiverService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="app.zingo.employeemanagements.Service.BackgroundDetectedActivitiesService"
            android:enabled="true" />
        <service
            android:name="app.zingo.employeemanagements.utils.TrackGPS"
            android:enabled="true" />
        <service
            android:name="app.zingo.employeemanagements.Service.LocationAndDataServiceWithTimer"
            android:enabled="true" />
        <service
            android:name="app.zingo.employeemanagements.Service.SendEmailToAll"
            android:enabled="true" />
        <service
            android:name="app.zingo.employeemanagements.Service.PriceUpdatingService"
            android:enabled="true" />
        <service
            android:name="app.zingo.employeemanagements.FireBase.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="app.zingo.employeemanagements.Service.LocationListenerService"
            android:enabled="true" />
        <service
            android:name="app.zingo.employeemanagements.Service.LocaitionPassWithConditionServices"
            android:enabled="true" />
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" /> <!-- Network call and base permission -->
    <!-- Camera Permission -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-feature android:name="android.hardware.location.gps" /> <!-- Storage Permission -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- save images taken from in-app camera -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- Location Permission -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_COMPANION_RUN_IN_BACKGROUND" />
    <uses-permission android:name="android.permission.ACCES_BACKGROUND_LOCATION" />

    <!--<uses-permission android:name="android.permission.REQUEST_COMPANION_RUN_IN_BACKGROUND" />
    <uses-permission android:name="android.permission.REQUEST_COMPANION_USE_DATA_IN_BACKGROUND" />
    <uses-permission android:name="android.permission.ACCES_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />-->

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/> <!-- Required API 21 or higher -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.hardware.camera.autofocus"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <dist:module dist:instant="true"/>

</manifest>